/* 
	giacomo lawrance https://giacomolaw.me
	https://cdn.jsdelivr.net/gh/giacomolaw/mal-themes@latest/ollie/ollie.css
*/

:root {
	--banner: url(https://thumbs.gfycat.com/RawGloriousCaiman-size_restricted.gif);
}
.header {
  background-image: var(--banner);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body {
  background-size: cover;
}
.header .header-title {
  margin-left: 20px;
}
.header .header-menu .btn-menu {
  margin-right: 20px;
}
#copyright:after {
  margin-top: 10px;
  display: block;
	content: "List design by Giacomo Lawrance.";
}